body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%; /* prilagodil vsebino celotnemu oknu */
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#seznam {
  width: 15%;
  height: 300px;
  float: right;
  
}

#sporocila {
  width: 85%;  /*okno za sporocila prilagodil kot je v navodiloh*/
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
  /*float:left;*/
}

#seznam-kanalov {

 /* float: right;*/
  width: 100%;
  height: 50%;

  overflow: auto;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 75%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#seznam-prijavljenih {
  float: none;
  width: 100%;
  height: 50%;
  overflow: auto;
}
/*
#seznam-prijavljenih div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-prijavljenih div:hover {
  background-color: #ddd;
}
*/
